.plansza {
    height: 800px;
    background: #aaa;
    overflow: hidden;
    position: relative;
    background: rgba(52,247,198,1);
    background: -moz-linear-gradient(top, rgba(52,247,198,1) 0%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 51%, rgba(103,240,24,1) 52%, rgba(39,230,106,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(52,247,198,1)), color-stop(46%, rgba(255,255,255,1)), color-stop(51%, rgba(255,255,255,1)), color-stop(52%, rgba(103,240,24,1)), color-stop(100%, rgba(39,230,106,1)));
    background: -webkit-linear-gradient(top, rgba(52,247,198,1) 0%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 51%, rgba(103,240,24,1) 52%, rgba(39,230,106,1) 100%);
    background: -o-linear-gradient(top, rgba(52,247,198,1) 0%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 51%, rgba(103,240,24,1) 52%, rgba(39,230,106,1) 100%);
    background: -ms-linear-gradient(top, rgba(52,247,198,1) 0%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 51%, rgba(103,240,24,1) 52%, rgba(39,230,106,1) 100%);
    background: linear-gradient(to bottom, rgba(52,247,198,1) 0%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 51%, rgba(103,240,24,1) 52%, rgba(39,230,106,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34f7c6', endColorstr='#27e66a', GradientType=0 );
    cursor: crosshair;
}

.zombie {
    cursor: crosshair;
    width: 200px;
    height: 312px;
    background: url(../walkingdead.png);
    position: absolute;
    left: 110%;
    bottom: 100px; /*maks 360 */
    animation: zombieAnim 0.5s 0s infinite steps(9),
                zombieWalk 10s 0s 1 linear;

}

@keyframes zombieAnim {
    100% {
        background-position: -1800px 0;
    }
}

@keyframes zombieWalk {
    100% {
        left: -300px;
    }
}
